* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: left;
    align-items: top;
    min-height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
}
